# Add any directories, files, or patterns you don't want to be tracked by version control
# Logs

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IDE-specific stuff
.idea
.vs
.vs/
.idea/

# testing
coverage/
bin/
obj/

# production
build/

# Build related
tools/**
!tools/packages.config
!tools/nuget.exe
packages/
/*.user
